<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Is the task mean:</strong>
  <%= @exercise.isForFollower %>
</p>

<p>
  <strong>Isforleader:</strong>
  <%= @exercise.isForLeader %>
</p>

<p>

<% @exercise.ratings.each do |rating| %>
  <%=  rating.comment %>
       <% end %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
